.landing-page {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.big-image {
}
.bbt-frame {
  overflow: hidden;
  height: 495px;
  width: 351px;
  margin: 10px auto;
  border-radius: 30px;
  img {
    height: 100%;
    width: 100%;
  }
}

.bbt-gallery {
  width: 100%;
}
