.landing-page {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.bbt-gallery {
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0px;
  &:hover::-webkit-scrollbar {
    display: block;
  }

  &::-webkit-scrollbar {
    display: none;
    height: 0px;
    width: 0px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.01);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }
  img {
    margin: 10px;
    width: 230px;
    height: 325px;
    //border-radius: 20px;
  }
}

.timeline-container {

}
