@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Comfortaa:wght@700&family=Kalam:wght@700&family=Kristi&display=swap');

$breakpoints: (
  small: 480px,
  medium: 850px,
  large: 1000px,
  x-large: 1130px,
);

*, body {
  font-family: 'Poppins', 'Open Sans', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

@import './color';
@import './font';
@import './navbar';
@import './wallet';
@import './modal';
@import './card';
@import './progressBar';
@import './home';

html {
  background-color: $black;
  color: white;
}

.site-title {
  font-size:$nav-font-size;
}

.page-container {
  margin: 10rem 10vw;
  padding: 10px;
  @media screen and (max-width: map-get($breakpoints, medium)) {
    margin: 10rem 5vw;
  }
  @media screen and (min-width: map-get($breakpoints, large)) {
    max-width: 1080px;
    margin: 10rem auto;
  }
}

h2 {
  &::selection {
    background: white;
  }
}
h1, p, h3, div {
  &::selection {
    background: $main-color;
  }
}

h2 {
  margin: 2rem 0 .5rem 0;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing:1px;
  color: $main-color;
}
h3 {
  margin: .2rem 0 1rem 0;
  font-weight: 600;
  font-size: 18px;
  letter-spacing:1px;
}
p {
  font-size: $content-font-size;
  line-height: $content-font-size*1.8;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
  letter-spacing:1px;
  font-weight: 400;

  .firstWord {
    font-size: 2rem;
  }
}

.btn {
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 10px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 38px;
  margin: 0 5px;
  line-height: 18px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  &:focus {
    outline: none;
  }
}

.outter-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  @media screen and (max-width: map-get($breakpoints, medium)) {
    flex-direction: column;
    align-items: center;
  }
  .inner-container {
    display: flex;
    flex-direction: column;
  }
}

.introduction {
  width: 600px;
  padding: 2rem;
}



//Stars
.stars-group {
  position: absolute;
  top: -100px;
}
.star {
 color: $main-color;
 animation-name: blink;
 animation-duration: 2s;
 animation-iteration-count: infinite;
 height: 50px;
}
@keyframes blink {
  from {opacity: 0;}
  to {opacity: 1;}
}


.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px -2px 0px rgba(white, 0.075);
}