@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import './font';
@import './color';
@import './nav';
@import './wallet';


*, body {
  font-family: 'Open Sans', 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
}
.site-title {
  font-size:$nav-font-size;
}

.page-container {
  margin: 3rem 10vw;
}

.btn {
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 10px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 38px;
  margin: 0 5px;
  line-height: 18px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}